# Dependencies
node_modules/

# Turborepo
.turbo/

# Build outputs
dist/
.expo/
.next/
out/

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Testing
coverage/

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Vercel
.vercel/
